.container {
    width: 600px;
    margin: 100px auto auto auto;
}

div {
    margin-top: 20px;
}

#guesses {
    display: none;
}

#restart {
    display: none;
}

#result {
    display: none;
}

#hint {
    display: none;
}